.container {
    display: flex;
    max-width: 70%;
    min-height: 300px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgb(51, 51, 51, 0.8);
    border-radius: 10px;
}

.suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: aquamarine; */
}

.suggestions button {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0.5rem;
    padding: 0.8rem 0.3rem;
    width: 45%;
    border-radius: 5px;
    background-color: #d24c1d;
    color: #f1f1f1;
    border: 1px solid #d24c1d;
    opacity: 0.9;
    cursor: pointer;
}

.suggestions button:hover {
    opacity: 1;
    border: 1px solid #f1f1f1;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    min-height: 350px;
    text-align: center;
}

.weather_state {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.weather_state h1 {
    font-size: 4rem;
    margin: 1.5rem 0;
}

.weather_state .city {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather_state .city svg {
    color: #f08763;
}

.weather_state .city h2 {
    margin: 0 1rem;
}

.weather_state .city img {
    height: 20px;
}

.weather_state .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather_state .desc h2{
    text-transform: capitalize;
}

.weather .desc img {
    width: 70px;
    height: 70px;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date h3 {
    font-size: 1.6rem;
}

.date h3:nth-child(2) {
    margin: 1rem 0;
}

.weather_state .city svg,
.weather_state .city h2,
.weather_state .desc h2,
.date h2 {
    font-size: 2rem;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-left: 1rem;
    font-size: 1.6rem;
}

.details .feels_like,
.details .humidity,
.details .temp_max,
.details .temp_min,
.details .wind,
.details .clouds {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 1rem 0; */
}

.details .feels_like p,
.details .humidity p,
.details .temp_max p,
.details .temp_min p,
.details .wind p,
.details .clouds p {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.details .feels_like p svg,
.details .humidity p svg,
.details .temp_max p svg,
.details .temp_min p svg,
.details .wind p svg,
.details .clouds p svg {
    font-size: 2.1rem;
    margin-right: 0.6rem;
    color: #f08763;
}

.weather,
.details {
    background-color: rgba(246, 187, 166, 0.302);
    color: #f1f1f1;
    padding: 0.8rem;
    border-radius: 5px;
}

.error {
    color: #f1f1f1;
    text-align: center;
    margin: auto;
}

/* ===== Media Queries =====  */
@media (max-width: 900px) {
    .details .feels_like,
    .details .humidity,
    .details .temp_max,
    .details .temp_min,
    .details .wind,
    .details .clouds {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1.8rem;
    }

    .details div:nth-child(6) {
        margin: 0;
    }

    .weather {
        width: 100%;
    }
}

@media (max-width: 760px) {
    .container {
        max-width: 85%;
    }

    .suggestions button {
        width: 45%;
    }
}

@media (max-width: 570px) {
    .container {
        flex-direction: column;
        max-width: 80%;
    }

    .weather {
        margin-bottom: 1rem;
    }

    .details {
        margin: 0;
    }
}

@media (max-width: 510px) {
    .suggestions {
        flex-direction: column;
        align-items: center;
    }

    .suggestions button {
        width: 80%;
    }
}

@media (max-width: 325px) {
    .details {
        text-align: center;
    }
}